{% extends "navbar.html" %}
{% block content %}
<style>
    input {
        background-color: rgba(0, 0, 0, 0) !important;
        /* border: none !important; */
    }

    body {
        height: 50vw;
        width: 100vw;
        overflow: hidden;
    }
</style>

<div class="row g-2 align-items-center" autocomplete="off"></div>
<div class="position-fixed">
    <form action='/userGraphPreferences' method='GET'>

        <div class="col-sm">
            <label for="users" class="col-form-label">Top Users Count</label>
            <input placeholder="Current: {{tcount}} Users" type="number" id="users" class="form-control" name="users"
                autocomplete="off" min="0">
        </div>
        <div class="col-sm">
            <label for="edges" class="col-form-label">Top % Edges</label>
            <input placeholder="Current: {{ecount}}%" type="number" id="edges" class="form-control" name="edges"
                autocomplete="off" min="0" max="100">
        </div>
        <!-- <button type="submit" class="btn btn-default">Submit</button> -->
    </form>
</div>
</div>


<div id="observablehq-07371626">
    <div class="observablehq-chart"></div>
    <div class="observablehq-data"></div>
    <div class="observablehq-height"></div>
    <div class="observablehq-color"></div>
    <div class="observablehq-drag"></div>
    <div class="observablehq-d3"></div>
</div>
<script type="module">
    import { Runtime, Inspector } from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
    // import define from "https://api.observablehq.com/@d3/force-directed-graph.js?v=3";
    import define from ".{{ url_for('static', filename = 'force.mjs') }}";
    (new Runtime).module(define, name => {
        if (name === "chart") return Inspector.into("#observablehq-07371626 .observablehq-chart")();
    });
</script>


{% endblock %}